.figure img {
    border-radius: 0.4em;
    background-color: rgba(230,230,230,0.75);
    box-shadow: 0.1em 0.1em 0.05em 0.05em #888;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    margin-left: 2em;
    display: inline-block;
    text-align: center;
}

.figure.float-right {
    float: right;
    max-width: 50%;
}

.figure.float-left {
    float: left;
    max-width: 50%;
}

.figure.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.figure.hide {
    display: none;
}
